# Creating .gitignore file
echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
echo "*.pyo" >> .gitignore
echo "*.pyd" >> .gitignore
echo ".Python" >> .gitignore
echo "env/" >> .gitignore
echo "venv/" >> .gitignore
echo ".env" >> .gitignore
echo ".vscode/" >> .gitignore
echo "*.sqlite" >> .gitignore
echo "*.db" >> .gitignore
echo "instance/" >> .gitignore
echo ".pytest_cache/" >> .gitignore
echo ".mypy_cache/" >> .gitignore